:root {
    --white-color: #ffffff;
    --black_text-color: #1c2a39;
    --gray_text-color: #5c6a79;
    --light_purple-color: #efeef6;
    --purple-color: #9e98dc;
    --dark_purple-color: #756ad3;
    --counter-color: #ff353a;
    --pink-color: #ff8fe6;
    --btn-color: #4c3db2;
    --btn_press-color: #EEEDF5;
}